{"jdx_orm_spec_file": "./config/gilhari_simple_example.jdx",
 "jdbc_driver_path": "./config/mysql-connector-java-8.4.0.jar",
 "jdx_debug_level": 3,
 "jdx_force_create_schema": "true",
 "jdx_persistent_classes_location": "./bin",
 "classnames_map_file": "config/classnames_map_example.js",
 "gilhari_rest_server_port": 80,
 "db": {
    "url": "jdbc:mysql://ps1-group3.mysql.database.azure.com:3306/gilhari",
    "user": "ashraf",
    "password": "Passpass@1"
  }
 }
