{"jdx_orm_spec_file": "./config/gilhari_employee.jdx",
 "jdbc_driver_path": "./config/postgresql-42.7.3.jar",
 "jdx_debug_level": 3,
 "jdx_force_create_schema": "false",
 "jdx_persistent_classes_location": "./bin",
 "classnames_map_file": "config/classnames_map_example.js",
 "gilhari_rest_server_port": 80,
 "db": {
    "url": "jdbc:postgresql://ps1-group3.postgres.database.azure.com:5432/gilhari",
    "user": "ashraf",
    "password": "Passpass@1"
  }
 }
